.container{
	left: 50%;
	top: 50%;
	background-image: url("../assets/building.jpg");
}
.depan{
	font-family: armata;
	font-weight: bold;
}
#labeluname{
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
}
#labelpw{
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
}
#id_username{
	padding: 10px;
	border-radius: 30px;
}
#id_password{
	padding: 10px;
	border-radius: 30px;
}
.loginbut{
	padding-left: : 50px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 50px;
}
.form-control{
	background-color: color;
}