{% extends "base.html" %}

{% load static %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title> Resep Pisan </title>
{% endblock %}
 
{% block content %}
<section id="home1">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'assets/slidesatu.jpg' %}" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'assets/slide2.jpg' %}" alt="Second slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section id="home2" class="text-center" style="background-color: #FFEBCD">
    <div class="container">
        <div class="row">
             <div class="col-lg-4">
                 <h1 style="margin-top: 50% ; margin-bottom: 30%; font-size: 3.2em"> ResepPisan </h1>
            </div>
            <div class="col-lg-8">
                <div style="margin-top: 18% ;margin-bottom: 18% ;font-size: 22px;"> Situs ini menyajikan informasi terlengkap mengenai segala hal tentang dunia masak-memasak. Kami berusaha menyajikan langkah-langkah yang mudah dipahami dan praktis, untuk membantu meringankan pekerjaan Anda di dapur. Cocok untuk pemula yang sedang belajar masak, maupun yang sudah mahir namun sering bingung mau masak apa.</div>
            </div>
        </div>
    </div>
</section>
<section id="home3" style="margin-top: 12%; margin-bottom: 12%">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="text-center" style="background-color: #FFF8DC; padding: 10px">
                    <h2 style="margin-top: 10%"> Tips and Trick </h2>
                    <div class="text-justify"> Ada banyak tips yang jarang terpikirkan oleh Anda. Lihat beberapa tips berikut yang dapat membantu pekerjaan dapur jadi lebih mudah dan cepat.</div>
                    <button  id="btn-tips" onclick="lihattips()"style="margin-top: 35px; margin-bottom: 15px; border-radius: 5px"> Lihat Tips</button>
                    <div class="text-justify" id="tipskosong"></div>
                </div>
            </div>
            <div class="col-sm-4">
                    <div class="text-center" style="background-color: #B0E0E6; padding: 10px">
                        <h2 style="margin-top: 10%"> Informasi Gizi </h2>
                        <div class="text-justify"> Mengonsumsi ragam makanan dalam satu porsi, bukan berarti telah mencukupi segala nutrisi. Ada baiknya Anda tahu makanan apa saja yang memiliki kandungan nutrisi sama. </div>
                        <button id="btn-gizi" onclick="infogizi()" style="margin-top: 35px; margin-bottom: 15px; border-radius: 5px"> Lihat Info Gizi </button>
                        <div class="text-justify" id="infogizikosong"></div>
                    </div>
                </div>
            <div class="col-sm-4">
                <div class="text-center" style="background-color: #D8BFD8; padding: 10px">
                    <h2 style="margin-top: 10%"> Top Kuliner Depok </h2>
                    <div class="text-justify"> Apa yang terpikirkan di kepala anda ketika mendengar kata Depok? Universitas Indonesia? sayangnya Depok tidak hanya tentang itu. Depok memiliki beberapa tempat kuliner yang tak kalah menarik</div>
                    <button id="btn-tempat" onclick="lihattempat()" style="margin-top: 15px; margin-bottom: 15px; border-radius: 5px"> Lihat Tempat </button>
                    <div class="text-justify"id="namatempatkosong"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/shinta.js' %}"></script>
{% endblock %}
