{% extends "base.html" %}

{% load static %}

{% block title %}ResepPisan Upload{% endblock %}

{% block content %}

<h1 class="text-center pt-4" onmouseover="style.color='orange'" onmouseout="style.color='black'">Upload Resep</h1>
<div class="container py-4">
    <form action="/upload/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="id_nama_resep">Nama Resep :</label>
                <input class="form-control" type="text" id="nama_resep" name="nama_resep" maxlength="80" required="" id="id_nama_resep">
            </div>
        
            <div class="form-group">
                <label for="id_bahan_bahan">Bahan-bahan :</label>
                <textarea class="form-control" type="text" id="bahan_bahan" name="bahan_bahan" maxlength="500" rows="7" required="" id="id_bahan_bahan"></textarea>
            </div>
    
            <div class="form-group">
                <label for="id_langkah_buat">Langkah :</label>
                <textarea class="form-control" type="text" id="langkah_buat" name="langkah_buat" maxlength="1000" rows="9" required="" id="id_langkah_buat"></textarea>
            </div>
            
            <div class="form-group">
                <label for="id_photo_resep">Foto :</label><br>
                <input type="file" name="photo" accept="image/*" required="" id="id_photo">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
    </form>
</div>
    
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'jquery.js' %}"></script>
{% endblock %}