{% load static %}
<!DOCTYPE>
<html>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{% block styles %}{% endblock %}

<body>
	<nav class="navbar-fixed navbar-expand-md navbar-light " style="background-color: #CD853F;">
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
 	  </button>
  	<div class="collapse navbar-collapse" id="navbarNavDropdown" >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-brand" href="/home/"; style="font-size: 20px ; color : white; font-weight: bold ;padding: 10px"> ResepPisan </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/recipe-list/" style="font-size: 20px ; color : white;font-weight: bold; padding: 10px"> Resep</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload/" style="font-size: 20px; color : white; font-weight: bold; padding: 10px"> Upload Resep</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/" style="font-size: 20px ; color : white; font-weight: bold; padding: 10px"> About Us</a>
        </li>
         {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <a class="nav-link" href="/logout/" style="font-size: 20px ; color : white; font-weight: bold; padding: 10px"> logout</a>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/register/" data-toggle="modal" data-target="#signupModal"style="font-size: 20px ; color : white; font-weight: bold; padding: 10px"> Sign Up </a>
              <div class = "modal fade" role="dialog" id="signupModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type ="button" class = "close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class = "modal-body">
                          {% if user.is_authenticated %}
                          <h1 class="px-5 pt-5">Hi {{ user.username }}, you're already registered.</h1>
                          <a href="/" class="px-5">Back to homepage</a>
                          {% else %}
                          <form method="POST" action="/register/">
                            {% csrf_token %}
                            <table class="table">
                              <tr>
                                <td><label for="id_username" id="labeluname">Username</label></td>
                                <td><input id="id_username"name="username" type="text" class="form-control"></td>
                              </tr>
                              <tr>
                                <td><label for="id_email">Email</label></td>
                                <td><input id="id_email" name="email" type="email" class="form-control" required></td>
                              </tr>
                              <tr>
                                <td><label for="id_password" id ="labelpw">Password</label></td>
                                <td><input id="id_password" name="password" type="password" class="form-control"></td>
                              </tr>
                            </table>
                            <div class="modal-footer">
                            <input type="submit" class="btn btn-success" value="Register">
                          </div>
                          </form>
                         
                            {% endif %}
                        </div>
                   </div>
              </li>

            <li class="nav-item">
                <a class="nav-link" href="/login/" data-toggle="modal" data-target="#loginModal" style="font-size: 20px ; color : white; font-weight: bold; padding: 10px"> Login </a>
                <div class = "modal fade" role="dialog" id="loginModal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type ="button" class = "close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class = "modal-body">
                      <form action="/login/" class="form-popup" id="myForm" method="post">
                      {% csrf_token %}
                      <table class="table">
                        <tr>
                            <td><label for="id_username" id="labeluname">Username</label></td>
                            <td><input id="id_username"name="username" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="id_password" id ="labelpw">Password</label></td>
                            <td><input id="id_password" name="password" type="password" class="form-control"></td>
                        </tr>
                      </table>
                      <div class="modal-footer">
                      <input type="submit"  value="Login" class="btn btn-success">
                      <input type="hidden" name="next" value="{{ next }}">
                      </form>
                      </div>
              </li>
             {% endif %}
        </ul>
    </div>
</nav>
<div style="min-height: calc(100vh - 184px)">
  {% block content %}{% endblock %}
</div>
  <section id="home4" class="text-center" style="background-color: #CD853F">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h5 style="margin-top: 10%;"> Contact Us at : support@reseppisan.com</h5>
            </div>
            <div class="col-lg-6">
                <h5 style="margin-top: 7%"> Tentang Kami </h5>
                <p> Website ini dibuat oleh mahahsiwa Perancangan dan Pemograman Website tahun 2019 Kelas E</p>
            </div>
        </div>
    </div>
</section>

  {% block footer %}{% endblock %}
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  	{% block scripts %}{% endblock %}
    {% if wrongpass %}
    <script>
      $( document ).ready(function() {
        alert('Password salah');
      });
    </script>
    {% endif %}
</body>