{% extends "base.html" %}

{% load static %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	<script type="text/javascript" src="{% static 'jsfile.js' %}"></script>
	<title> Recipe List </title>
	<script>
// When the user clicks on <div>, open the popup
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>
{% endblock %}
 
{% block content %}
<section style="overflow-x: hidden;">
	<div class="row">
		<div class="text-center" style="margin: auto;">
			<input style="width: auto; margin-top: 10%;" id="input" type="text" placeholder="Cari Resep">
			<input id="button" 	type="submit" value="Cari">
		</div>
<!-- 		<div class="col">
			<div class="row">
			</div>
			<div class="row">
			</div>
		</div> -->
	</div>
	<div  class="row" style="float: right; padding-right: 10%;">
		<div class="popup" type="button" style="border-radius:50%" onclick="myFunction()">?
  <span class="popuptext" id="myPopup">Resep belum tersedia</span>
</div>
	</div>
</section>
<section style="padding: 2%;">
	<center><STRONG>DAFTAR RESEP<STRONG></center>
	<a><center><br></center> </a>

	 <div class="card-group row ml-4 mr-4" id="sp_container">
                {% for resep in uploadModels %}
                    <div class="col-xl-3 col-md-4 col-12 mb-4" id="sp_card">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4 class="card-title">JUDUL</h4>
                                <p class="card-text">Nama Resep: {{ resep.nama_resep }}</p>
                                <p class="card-text">Bahan: {{ resep.bahan_bahan }}</p>
                                <button class="submit">Check</button>                                       
                            </div>
                    </div>
                    </div>
                {% endfor %}
            </div>



</section>

{% endblock %}