{% extends "base.html" %}

{% load static %}

{% block styles %}
	<title> About Us </title>
	<script type="text/javascript" src="{% static 'js/profil.js' %}"></script>
{% endblock %}
 
{% block content %}
	<div class ="">
		<div  class="container mt-5 mb-5 text-center">
			<h2 class ="text-center mb-5"> About Us </h2>
			<div class="row" id="foto"> 
				<div class ="col-sm-3">
					<img style="width: 250px; height: 250px" src="{% static 'assets/fotoHilmi.jpg'%}" id="fotoHilmi">

					<div class="text-justify text-center" id="hilmi"></div>
				</div>
				<div class ="col-sm-3">
					<img style="width: 250px; height: 250px" src="{% static 'assets/Shinta.jpg'%}" id="fotoShinta">
					<div class="text-justify text-center" id="shinta"></div>
				</div>
				<div class ="col-sm-3">
					<img style="width: 250px; height: 250px" src="{% static 'assets/Thalia.jpg'%}" id="fotoThalia">
					<div class="text-justify text-center" id="thalia"></div>
				</div>
				<div class ="col-sm-3">
					<img style="width: 250px; height: 250px" src="{% static 'assets/lto.jpg'%}" id="fotoSulthan">
					<div class="text-justify text-center" id="sulthan"></div>
				</div> 
			</div>
		</div> 
		<div class="container w-25">
		</div> 
		<div class="container w-25">
			<h2 class="mb-4 text-center"> Contact Us!!! </h2>
			<form method="POST" action="{% url 'SulthanApp:tambahContactUs' %}">
				{% csrf_token %}
				<div class="form-group">
					{{ form.nama }}
				</div>
				
				<div class="form-group">
					{{ form.email }}
				</div>
				
				<div class="form-group">
					{{ form.noTelp }}
				</div>
				
				<div class="form-group">
					<label style="font-size: 1vw" for="message" class="">Pesan</label>
					{{ form.message }}
				</div>

				<div class="form-group">
					<label style="font-size: 1vw" for="testi" class="">Testimoni</label>
					{{ form.testi }}
				</div>
				<div class="text-center">
					<button style="font-size: 1vw" type="submit" class="btn btn-secondary mt-2 mr-2 mb-2">Submit</button>
					<button style="font-size: 1vw" type="reset" class="btn btn-secondary m-2">Reset</button>
				</div>
			</form>

			<div class="container mt-5 mb-5 text-center">
				<h1 class="mb-5">Testimoni</h1>
					{% for i in list_testi %}
						{{ i.bukti }} <p><br></p>
					{% endfor %}
			</div>
{% endblock %}
